.container:not(:first-child) {
  margin-top: 2rem;
}

.myimage {
  border-radius: 50%;
}

body:not(h1):not(h3) {
  font-size: 0.9rem;
}

.row {
  padding-bottom: 2rem;
  border-bottom: 1px solid #bbb;
}

.container > h3 {
  margin-bottom: 1.5rem;
}
